[phases.setup]
nixPkgs = ["php83", "php83Packages.composer"]

[phases.install]
cmds = ["chmod +x start.sh", "composer install --no-dev --optimize-autoloader"]

[phases.build]
cmds = []

[start]
cmd = "bash start.sh"

